#!/usr/bin/env python3
import requests
import json
import os
import subprocess

# Ansible Variables
DOMAIN = "{{ ingress_root_domain }}"
API_KEY = "{{ porkbun_api_key }}"
SECRET_KEY = "{{ porkbun_secret_key }}"
SSL_DIR = f"/etc/nginx/ssl/{DOMAIN}"

def fetch_cert():
    url = f"https://api.porkbun.com/api/json/v3/ssl/retrieve/{DOMAIN}"
    payload = {
        "apikey": API_KEY,
        "secretapikey": SECRET_KEY
    }

    try:
        print(f"Fetching SSL bundle for {DOMAIN}...")
        r = requests.post(url, json=payload)
        r.raise_for_status()
        data = r.json()

        if data.get("status") != "SUCCESS":
            print(f"Error: {data.get('message')}")
            exit(1)

        with open(f"{SSL_DIR}/fullchain.pem", "w") as f:
            f.write(data["certificatechain"])

        with open(f"{SSL_DIR}/privkey.pem", "w") as f:
            f.write(data["privatekey"])

        print("Certificates saved successfully.")

        print("Reloading Nginx...")
        subprocess.run(["systemctl", "reload", "nginx"], check=True)

    except Exception as e:
        print(f"Failed to fetch certificates: {e}")
        exit(1)

if __name__ == "__main__":
    if not os.path.exists(SSL_DIR):
        os.makedirs(SSL_DIR, mode=0o700)
    fetch_cert()
