{
  "listenHost": "0.0.0.0",
  "listenPort": {{ expense_dashboard_port }},
  "serverName": "{{ expense_dashboard_serverName }}",
  "apiBase": "{{ expense_dashboard_apiBase }}",
  "botUrl": "{{ expense_dashboard_botUrl }}",
  "repoUrl": "{{ expense_dashboard_repoUrl }}"
}
