services:
  app:
    image: ghcr.io/masudur-rahman/khorcha-pati:{{ expense_bot_version }}
    container_name: expense-tracker
    command: serve
    restart: unless-stopped
    ports:
      - "{{ expense_server_port }}:{{ expense_server_port }}"
    environment:
      - TELEGRAM_BOT_TOKEN={{ expense_bot_token }}
      - OPENROUTER_API_KEY={{ expense_bot_openrouter_key }}
      - GEMINI_API_KEY={{ expense_bot_gemini_key }}

    volumes:
      - /opt/expense-tracker/backend-config.yaml:/app/.configs/.khorcha-pati.yaml
      - ./app_data:/app/.khorcha-pati

  web:
    image: ghcr.io/masudur-rahman/khorcha-pati-web:{{ expense_dashboard_version }}
    container_name: expense-tracker-web
    restart: unless-stopped
    ports:
      - "{{ expense_dashboard_port }}:{{ expense_dashboard_port }}"
    volumes:
      - /opt/expense-tracker/dashboard-config.json:/app/config.json:ro
